.score_table{
	
}

table{
	border-collapse: collapse;
	margin-bottom: 5%;
}

caption{

	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: .5em;

}

thead{
	font-size: 25px;
	background-color:#BA0095;
	color:#000077;

}

th,
td {
	font-size: .875em;
	padding: 100%em 100%em;
	border: 2px solid #007;
}

td{
	

}

tbody{

}
